.card {
    background-color: var(--card-color);
    width: 9rem;
    height: 11rem;
    padding: 1.2rem 1.2rem;
    display: flex;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    span {
        position: relative;
        word-wrap: break-word;
        width: 78%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 0.1118px;
        color: var(--text-color);
        font-weight: bold;
        width: 100%;
        height: min-content;
    }
}